{% extends 'base.html' %}

{% block content %}
    <div class='form_container'>
        <form method="GET">
            {% csrf_token %}
            <h4>You can search for events by city, state, or zip code</h4>
            <input type='text' name='city' placeholder='Enter city'>
            <button type='submit' for='city'>Submit</button>
            <input type='text' name='postal_code' placeholder='Enter zip code'>
            <button type='submit' for='postal_code'>Submit</button>
            {% comment %} this needs to be disabled for demo; for testing purposes only {% endcomment %}
            <input type='text' name='state' placeholder='Enter 2-letter state'>
            <button type='submit' for='state'>Submit</button>
        </form>
        {% comment %} <form method="GET" name='sort' action='{% url 'EventList:sort' %}'>
            {% csrf_token %}
            <select id='sort' name='sort'>
                <option selected disabled>Sort Results<br>
                <option value='short_title_sort'>Event Name<br>
                <option value='event_type_sort'>Type of Event<br>
                <option value='city_sort'>City<br>
                <option value='state_sort'>State<br>
                <option value='postal_code_sort'>Zip Code<br>
                <option value='local_dtg_sort'>Date / Time<br>
            </select>  
        </form>    {% endcomment %}
    </div>
    {% comment %} this will eventually need event listener so it only shows once there are results {% endcomment %}
    <div class="mapLink">
        <p><a href="{ url "map template link"}">See Results in Map</a></p>
    </div>
    <div class='list_container'>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Event Name</th>
                    <th scope="col">Type of Event</th>
                    <th scope="col">City</th>
                    <th scope="col">State</th>
                    <th scope="col">Zip Code</th>
                    <th scope="col">Lat / Long</th> {# hide/change this #}
                    <th scope="col">Date and Time (Local)</th>
                </tr>
            </thead>
            {% for event in all_events %}
                <tbody>
                    <tr>
                        <th scope="row">{{ event.short_title }}</th>
                        <td>{{ event.event_type }}</td>
                        <td>{{ event.city }}</td>
                        <td>{{ event.state }}</td>
                        <td>{{ event.postal_code }}</td>
                        <td>{{ event.lat }} {{ event.lon }} </td>
                        <td>{{ event.local_dtg }}</td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>

{% endblock content %}

{% comment %} Nested forms
<form id='main-form'action="/main-action"method="GET"></form>
        <form id='sub-form'action="/sub-action"method="GET"></form>
        {% comment %} ****Verify that sub form is GET not POST****** {% endcomment %}
        {% comment %}{% csrf_token %}
            <h4>You can search for events by city, state, or zip code</h4>
            <div class="main-component">
                <input type='text' name='city' form="main-form" placeholder='Enter city'>
                <button type='submit' for='city'>Submit</button>
                <input type='text' name='postal_code' form="main-form" placeholder='Enter zip code'>
                <button type='submit' for='postal_code'>Submit</button>
                <input type='text' name='state' form="main-form" placeholder='Enter 2-letter state'>
                <button type='submit' for='state'>Submit</button>
            
                <div class="sub-component">
                    <select id='sort' name='sort' form="sub-form">
                        <option selected disabled>Sort Results<br>
                        <option value='short_title'>Event Name<br>
                        <option value='event_type'>Type of Event<br>
                        <option value='city'>City<br>
                        <option value='state'>State<br>
                        <option value='postal_code'>Zip Code<br>
                    </select>
                <div>
            </div>
        </form> {% endcomment %} 

