{% extends 'base.html' %}
{% block additional_styles %}
    <style>
        {% comment %} .header {
            background-image: url(../static/images/Kids_Dog_Fisherman.jpeg);
        } {% endcomment %}
        .container {
            max-width: 50%;
            height: 300px;
            margin: 0;
        }
        .container .content {
            position: absolute;
            top: 0;
            background: rgb(0, 0, 0); /* Fallback color */
            background: rgba(0, 0, 0, 0.0); /* Black background with 0.5 opacity */
            color: #f1f1f1;
            width: 100%;
            padding: 20px;
        }
        .container img {
            opacity: 0%;
            height: 0%;
        }
        .title_foot {
            display: flex;
            justify-content: flex-start;
            padding-left: 15px;
            padding-top: 0px;
        }
        .title_foot a {
            color: #D8AD91;
            text-decoration: none;
            font-size: medium;
        }
    </style>
{% endblock additional_styles %}

    {% block content %}
    <div class="user_profile">
        <div class="event_search">
            <h6><a href="{% url 'event_list:get_events' %}"><b>New Search</b></a></h6>
        </div>

        <div class="notes">
            <h4><b>Notes</b></h4>
            <h6><a href="{% url 'event_list:notes_create' %}"><b>Add a New Note</b></a></h6>
            
                {% for note in user_profile.event_list.all %} {% comment %} do I need new model for this? {% endcomment %}
                    <p>{{ event.notes|linebreaksbr }}</p>
                    <p><a href="{% url 'event_list:notes_detail' post.id %}">Edit or Delete This Note</a></p>
                    {% comment %} <p><a href="{% url 'notes_edit' %}">Edit</a><a href="{% url 'notes_delete' %}">Delete</a></p> {% endcomment %}
                {% endfor %}
        </div>
    </div>    

    {% endblock %}


