
* {
    box-sizing: border-box;
}
  
body {
    font-family: Arial;
    font-size: 17px;
    background-color: #6F819D;
}
  
.container {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}
  
.container img {
    vertical-align: middle;
    
}
  
.container .content {
    position: absolute;
    top: 0;
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.0); 
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}
#title a {
    color: #D8AD91;
    text-decoration: none;
}
#title a:hover {
    background-color: #98A4B1;
  }
.logInBar a {
    color: #f1f1f1;
    text-decoration: none;
}
.logInBar a:hover {
    background-color: #98A4B1;
  }
.title_foot {
    display: flex;
    /* justify-content: flex-end; */
    padding-right: 20px;
   
}
.title_foot a {
    color: #D8AD91;
    text-decoration: none;
}
.title_foot a:hover {
    background-color: #98A4B1;
  }
.login, .form_container, .see_map {
    padding: 20px;
}
#events_title {
    color: #D8AD91;
    margin-bottom: 20px;
}
.event_search a {
    color: #f1f1f1;
    text-decoration: none;
}
.event_search a:hover {
    background-color: #98A4B1;
  }
.user_profile {
    padding: 20px;
}
.notes {
    color: #D8AD91;
}
.notes a {
    color: #f1f1f1;
    text-decoration: none;
}
.notes a:hover {
    background-color: #98A4B1;
  }
.see_map a {
    color: #f1f1f1;
    text-decoration: none;
}
.see_map a:hover {
    background-color: #98A4B1;
  }
.event_table {
    padding: 20px;
    color: #f1f1f1;
}
.thead {
    color: #D8AD91;
}
.leaflet-container {
    height: 600px;
    width: 800px;
    max-width: 100%;
    max-height: 100%;
    margin: 20px;
}
.leaf_map {
    display: flex;
    align-items: center
}
#wrapper {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-areas:
        "header header header"
        "left main right"
        "footer footer footer";
    gap: 1rem;
    color: #D8AD91;
    font-size: 2em;
    padding: 20px;
}
#wrapper>* {
    display: flex;
    /* display: grid; */
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #ddd;
    height: 15vh;
}
#header {
    grid-area: header;
    display: flex; 
    align-items: center;
    justify-content: center;
    margin: 40px;
}
#footer {
    grid-area: footer;
    display: flex; 
    align-items: center;
    justify-content: center;
    margin: 40px;
}
#footer a{
    color: #A74482;
    text-decoration: none;
}
#footer a:hover {
    background-color: #98A4B1;
}
#right {
    grid-area: right;
    display: flex; 
    align-items: center;
    justify-content: center;
}
#right a{
    color: #93C48B;
    text-decoration: none;
}
#right a:hover {
    background-color: #98A4B1;
}
#left {
    grid-area: left;
    display: flex; 
    align-items: center;
    justify-content: center;
}
#left a{
    color: #AD343E;
    text-decoration: none;
}
#left a:hover {
    background-color: #98A4B1;
}
#main {
    grid-area: main;
    display: flex; 
    align-items: center;
    justify-content: center;
}
#main a{
    color: #554640;
    text-decoration: none;
}
#main a:hover {
    background-color: #98A4B1;
}