{% extends 'base.html' %}
{% comment %} {% load static %} {% endcomment %}

{% block content %}
    <div class='form_container'>
        <form method="GET">
            {% csrf_token %}
            <h4>You can search for events by city, state, or zip code</h4>

            <input type='text' name='city' placeholder='Enter city'>
            <button type='submit' for='city'>Submit</button>
            <input type='text' name='postal_code' placeholder='Enter zip code'>
            <button type='submit' for='postal_code'>Submit</button>
            <input type='text' name='state' placeholder='Enter 2-letter state'>
            <button type='submit' for='state'>Submit</button>
        </form>
    </div>
    <div class='list_container'>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Event Name</th>
                    <th scope="col">Type of Event</th>
                    <th scope="col">City</th>
                    <th scope="col">State</th>
                    <th scope="col">Zip Code</th>
                    <th scope="col">Date and Time (Local)</th>
                </tr>
            </thead>
            {% for event in all_events %}
                <tbody>
                    <tr>
                        <th scope="row">{{ event.short_title }}</th>
                        <td>{{ event.event_type }}</td>
                        <td>{{ event.city }}</td>
                        <td>{{ event.state }}</td>
                        <td>{{ event.postal_code }}</td>
                        <td>{{ event.local_dtg }}</td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>

{% endblock content %}